body {
    background-color: black;
    color: white;
    font-size: 1cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}

#countervon {
    color: green;
}

#countervon::before {
    content: "Karte ";
}

#countertotal {
    color: blue;
}

#countertotal::before {
    content: " von ";
}

#countertotal::after {
    content: ":";
}