body {
    background-color: black;
    color: white;
    font-size: 1cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}

#countervon {
    color: green;
}

#countertotal {
    color: blue;
}